<div class="d-flex flex-column justify-content-center align-items-center py-5">
    <h1>Bem vindo a página de administrador!</h1>
    <div class="d-flex justify-content-center mt-4">
        <a href="admin/viagens/nova"> <button id="pub_viagem" class="btn mx-5">Publicar viagem</button> </a>
        <a href="admin/historias/nova"> <button id="pub_historia" class="btn mx-5">Publicar história</button> </a>
    </div>
</div>