<form action="/admin/registrar/viagem" method="POST" class="p-5 d-flex flex-column justify-content-center align-items-start">
    <label for="titulo"> Titulo: </label>
    <input class="form-control" type="text" name="titulo" placeholder="Título da viagem" required>
    <label for="subtitulo"> Subtitulo: </label>
    <input class="form-control" type="text" name="subtitulo" placeholder="Subítulo da viagem" required>
    <label for="descricao"> Descricao: </label>
    <input class="form-control" type="text" name="descricao" placeholder="Descricao da viagem" required>
    <label for="conteudo">Conteudo: </label>
    <textarea class="form-control" name="conteudo" required></textarea>
    <button type="submit" class="mt-4 btn btn-primary w-50 align-self-center">Cadastrar viagem</button>
</form>