<div id="footer">
<footer class="bg-dark d-flex justify-content-between">
    <div>
        <h2>Mapa do site</h2>
        <ul class="row">
            <li class="col-md-6">Home</li>
            <li class="col-md-6">Posts</li>
            <li class="col-md-6">Intro</li>
            <li class="col-md-6">Viagens</li>
        </ul>
    </div>
    <div >
        <h2>Redes sociais</h2>
        <ul class="row d-flex justify-content-center align-items-center">
            <li class="col-md-6 redes"> <a href="https://www.facebook.com/thiago.crespofelippi/"> <img src="assets/redes/facebook.svg" alt=""> </a>  </li>
            <li class="col-md-6 redes"> <a href="mailto:thiagocrespo241103@gmail.com"> <img src="assets/redes/gmail.svg" alt=""> </a> </li>
            <li class="col-md-6 redes"> <a href="https://www.linkedin.com/in/thiago-crespo-felippi/"> <img src="assets/redes/linkedin.svg" alt=""> </a>  </li>
            <li class="col-md-6 redes"> <a href="https://www.instagram.com/thiago_felippi1/?hl=pt-br"> <img src="assets/redes/instagram.svg" alt=""> </a>  </li>
        </ul>
    </div>
</footer>
<div id="afterFooter" class="px-4 py-2">
    <p>Blog de viagens - 2020, todos os direitos reservados</p>
</div>

</div>
