{{#if success_msg}}

<div class="alert d-flex justify-content-center alert-success">{{success_msg}}</div>

{{/if}}

{{#if error_msg}}

<div class="alert d-flex justify-content-center alert-danger">{{error_msg}}</div>

{{/if}}