footer{
    padding: 20px 150px;

}

footer h2{
    color: #ffffff;
    padding-left:50px;
}

footer ul li{
    color: #B5B5B5;
    font-size: 40px;
    margin: 0px -20px;
}

footer .redes{
   padding: 10px 30px;
}

#afterFooter{
    background-color: #2EA2AF;
    color: #ffffff;
    font-size: 25px;
}
